// BEGIN header
header(class='header')
    div(class='header-img', style='background-image: url(assets/images/top-bg.jpg);')
    div(class='container')
        div(class='header-box')
            a(class='logo', href='#') <img src="assets/images/logo.svg" alt="" /> <div class="logo-text"> <b>Муж на час</b> <span>Услуги мужа на час для одиноких женщин</span> </div>
            
            ul(class="top-menu")  
                li
                    a(href="#") Услуги
                li
                    a(href="#") О нас
                li
                    a(href="#") Отзывы
                li
                    a(href="#") Контакты

            
            div(class="header-contact")
                a(class="phone", href="tel:88007008000") 8 (800) 700-8000
                a(class="btn", href="#") Заказать звонок

// END header