// BEGIN header
header(class='header')
    div(class='header-img', style='background-image: url(assets/images/top-bg.jpg);')
    div(class='container')
        div(class='header-box')
            a(class='logo', href='#') <img src="assets/images/logo.svg" alt="" /> <div class="logo-text"> <b>Муж на час</b> <span>Услуги мужа на час для одиноких женщин</span> </div>
            
            ul(class="top-menu")  
                li
                    a(href="#services") Услуги
                li
                    a(href="#about") О нас
                li
                    a(href="#rewiews") Отзывы
                li
                    a(href="#contacts") Контакты

            
            div(class="header-contact")
                a(class="phone", href="tel:88007008000") 8 (800) 700-8000
                a(class="btn", href="javascript:void (0);", data-toggle="modal", data-target="#modal") Заказать звонок
            a#hamburger-icon(href="javascript: void(0);", title="Menu")
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
        div.mobile-menu
            ul(class="top-menu")  
                li
                    a(href="#services") Услуги
                li
                    a(href="#about") О нас
                li
                    a(href="#rewiews") Отзывы
                li
                    a(href="#contacts") Контакты
            div(class="header-contact")
                a(class="phone", href="tel:88007008000") 8 (800) 700-8000
                a(class="btn", href="javascript:void (0);", data-toggle="modal", data-target="#modal") Заказать звонок


// END header