@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url(#{$path}.woff2) format("woff2"),
        url(#{$path}.ttf) format("truetype");
        font-display: block;
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face('Montserrat', '../fonts/Montserrat-Regular', 400, 'normal');
@include font-face('Montserrat', '../fonts/Montserrat-SemiBold', 600, 'normal');
@include font-face('Montserrat', '../fonts/Montserrat-Bold', 700, 'normal');
@include font-face('Montserrat', '../fonts/Montserrat-ExtraBold', 800, 'normal');
@include font-face('Montserrat', '../fonts/Montserrat-Black', 900, 'normal');
@include font-face('Circe', '../fonts/Circe-Regular', 400, 'normal');
@include font-face('Circe', '../fonts/Circe-Bold', 700, 'normal');