include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(name="viewport" content="width=320, initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="assets/css/vendors.css" media="all")
		link(rel="stylesheet" type='text/css' href="assets/css/style.css" media="all")
	body
		include ../components/header/header

		div(class='top-wrap')
			div(class='container')
				div(class='row')
					div(class='top-wrap__left')
						div(class='title') Сервис проверенных мужей на час
						ul(class='top-list')
							li У нас в штате только сотрудники с десятилетним опытом ремонта.
							li Каждый проходит дополнительное обучение и несколько этапов проверки.
							li Беремся не только за мелкий ремонт, но и за сложные поломки.
						p Прибудем на заказ в течение часа.
						a(class='btn', href="javascript:void (0);", data-toggle="modal", data-target="#modal") Оставить заявку
					div(class='top-wrap__right')
						div(class='master-slider-container swiper-container')
							div(class='master-slider-wrapper swiper-wrapper')
								div(class='master-slider-slide swiper-slide')
									div(class='master-slider-slide--img') <img src="assets/images/sl-1.jpg" alt="" />
									div(class='master-slider-slide--content') <span>Виктор Александрович</span> опыт работы более <b>16 лет</b>
								div(class='master-slider-slide swiper-slide')
									div(class='master-slider-slide--img') <img src="assets/images/sl-1.jpg" alt="" />
									div(class='master-slider-slide--content') <span>Виктор Александрович</span> опыт работы более <b>16 лет</b>
								div(class='master-slider-slide swiper-slide')
									div(class='master-slider-slide--img') <img src="assets/images/sl-1.jpg" alt="" />
									div(class='master-slider-slide--content') <span>Виктор Александрович</span> опыт работы более <b>16 лет</b>
								div(class='master-slider-slide swiper-slide')
									div(class='master-slider-slide--img') <img src="assets/images/sl-1.jpg" alt="" />
									div(class='master-slider-slide--content') <span>Виктор Александрович</span> опыт работы более <b>16 лет</b>
							div(class='swiper-pagination-master')
							div(class='swiper-button-prev-master')
							div(class='swiper-button-next-master')

		div(class='services', id='services')
			div(class='container')
				div(class='title') Наши услуги
				div(class='row')
					div(class='services-slider-container swiper-container')
						div(class='services-slider-wrapper swiper-wrapper')
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-1.jpg" alt="" />
								div(class='services-slider-slide--text') Сантехника
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-2.jpg" alt="" />
								div(class='services-slider-slide--text') Грузовые работы
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-3.jpg" alt="" />
								div(class='services-slider-slide--text') Монтаж/Демонтаж
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-4.jpg" alt="" />
								div(class='services-slider-slide--text') Бытовой ремонт
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-4.jpg" alt="" />
								div(class='services-slider-slide--text') Бытовой ремонт
							div(class='services-slider-slide swiper-slide')
								div(class='services-slider-slide--img') <img src="assets/images/serv-4.jpg" alt="" />
								div(class='services-slider-slide--text') Бытовой ремонт
					div(class='swiper-pagination-services')
		div(class='form-sale-wrap')
			div(class='container')
				div(class='row')
					div(class='form-sale-box')
						div(class='form-box-sale__left') При заказе с сайта скидка 15%
						div(class='form-box-sale__right')
							form(class='form-sale', method='POST', action='/')
								span <input type='text' placeholder='Ваше имя' />
								span <input type='tel' placeholder='Номер телефона' />
								span(class='hidden') <input type='hidden' value='Форма со скидкой 15%' />
								button(type='submit', class='btn') Перезвоните мне
							div(class='agree') Нажимая кнопку “Перезвоните мне” Вы соглашаетесь на обработку Ваших данных
							div(class='sale-gift')
							div(class='sale-gift-value') 15%
		div(class='why-our-wrap', id='about')
			div(class='why-our-box')
				div(class='why-our-box__left' style='background-image: url(assets/images/why-left.jpg);')
					div(class='title') Почему именно мы?
					<p>Мы ценим спокойствие клиентов и свою репутацию. Набираем в команду только сотрудников с богатым опытом и придерживаемся высоких стандартов качества. Поэтому нам можно доверять. Мы всегда приходим вовремя и выполняем работу на совесть. </p>
				div(class='why-our-box_right') <img src="assets/images/why-right.jpg" alt="" />

		div(class='rewiews', id='rewiews')
			div(class='container')
				div(class='title') Отзывы наших клиентов
				div(class='rewiews-slider-container swiper-container')
					div(class='rewiews-slider-wrapper swiper-wrapper')
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Замена сантехники в ванной
								div(class='rewiews-slider-desc')
									<p>Сотрудник данной фирмы занимался заменой сантехники у меня в ванной. Всю работу выполнил быстро. Гораздо быстрее, чем предлагали другие фирмы. Качество выполненных работ шикарное. Никаких проблем после ремонта не возникало.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время замены 6 часов
									div(class='rewiews-slider-autor') Андрей
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Погрузка дверей
								div(class='rewiews-slider-desc')
									<p>Помогали мне с доставкой мебели на верхние этажи дома. Были довольно тяжелые двери и еще несколько мелких вещей. Двое ребят из этой конторы со всем справились буквально за полчаса или даже меньше. Денег взяли меньше, чем берут другие грузчики.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время погрузки 30 минут
									div(class='rewiews-slider-autor') Елена
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Вывоз крупногабаритной мебели
								div(class='rewiews-slider-desc')
									<p>Сделали невероятное. Наконец-то вывезли старое пианино и гигантскую шкаф-стенку из зала. 11 этаж дело такое. Работники опешили немного когда увидели, но справились с задачей довольно быстро. Более чем доволен их работой.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время вывоза 2 часа
									div(class='rewiews-slider-autor') Антон
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Монтаж кухонного гарнитура
								div(class='rewiews-slider-desc')
									<p>Вызывала отсюда мастера для установки гарнитура на кухне. Мастер прибыл вовремя. Оказался довольно лояльным и приятным человеком. Работу делал тихо и аккуратно. Затем продемонстрировал работу и только после этого взял плату.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время монтажа 6 часов
									div(class='rewiews-slider-autor') Галина
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Ремонт стиральной машины
								div(class='rewiews-slider-desc')
									<p>Отремонтировал мне стиральную машину. Быстро и четко. С ходу определил причину поломки и перешел к ремонту. Не пытался навязать никаких дополнительных услуг и не обманывал, придумывая дополнительные поломки. Все честно и качественно.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время ремонта 1 час
									div(class='rewiews-slider-autor') Ирина
						div(class='rewiews-slider-slide swiper-slide')
							div(class='rewiews-slider-slide__left') <img src="assets/images/rew-1.jpg" alt="" />
							div(class='rewiews-slider-slide__right')
								div(class='rewiews-slider-title') Ремонт смесителя на кухне
								div(class='rewiews-slider-desc')
									<p>В старой квартире потекли смесители на кухне. Причем и сам кран и трубы под ним. Сантехник пришел сразу с необходимыми инструментами. Быстро оценил ситуацию и понял, как ее исправить. Справился со всем примерно за час.</p>
								div(class='rewiews-slider-bottom')
									div(class='rewiews-slider-time') Время ремонта 1 час
									div(class='rewiews-slider-autor') Валерия
					div(class='swiper-pagination-rewiews')
			

		div(class='form-bottom-wrap' style='background-color: #191919;')
			div(class='container')
				div(class='row')
					div(class='form-bottom-box')
						div(class='title') Есть вопросы?
						div(class='desc') Оставьте заявку и мы перезвоним Вам
						form(class='form-bottom', action='/', method='POST')
							span <input type='text' placeholder='Ваше имя' />
							span <input type='tel' placeholder='Ваш телефон' />
							button(type='submit', class='btn') Перезвоните мне
						div(class='agree') Нажимая кнопку “Перезвоните мне” Вы соглашаетесь на обработку Ваших данных
						div(class='man') <img src='assets/images/man.png' alt='' />
		footer(class='footer', style='background-color: #191919;', id='contacts')
			div(class='container')
				div(class='footer-box')
					a(class='logo', href='#') <img src="assets/images/logo.svg" alt="" /> <div class="logo-text"> <b>Муж на 60 минут</b> <span>Услуги мужа на час для одиноких женщин</span> </div>
					ul(class="top-menu")  
						li
							a(href="#services") Услуги
						li
							a(href="#about") О нас
						li
							a(href="#rewiews") Отзывы
						li
							a(href="#contacts") Контакты
					div(class="header-contact")
						a(class="phone", href="tel:88007008000") 8 (800) 700-8000
						a(class="btn", href="javascript:void (0);", data-toggle="modal", data-target="#modal") Заказать звонок
				div(class='copyright')
					a(href='#') Политика конфиденциальности
					span Представленная информация на сайте не является публичной офертой

		include ../components/modal/modal
		block content
		script(src="assets/js/vendors.js")
		script(src="assets/js/scripts.js")
		block script
